@charset "utf-8";

@import url("./components_y.css"); /* 컴퍼넌트 */

.ui-container.ui-mypage {
  padding:0 20px 80px 20px;
}

.ui-content-wrap .ui-contents {
  flex: 1 0 auto;
  max-width:100%;
  /* font-size:0; */
}