<!DOCTYPE html>
<html lang="ko">
<!--// [D]다국어 - [국문]-ko/[영문]-en/[중국어]-zh/[중국어 간체]zh-CN -->
<head>
<meta charset="UTF-8" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1"
/>
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>buyKOREA for Seller</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="../../css/mobile/common.css" />
<noscript></noscript>
<script async src=""></script>
</head>
<body style="padding: 0 20px;">

<table class="tbl tbl-default">
	<caption></caption>
	<colgroup>
		<col style="width: 30vw">
		<col>
	</colgroup>
	<tbody>
		<tr>
			<th scope="col">입력값</th>
			<td>입력값</td>
		</tr>
		<tr>
			<th scope="col">입력값</th>
			<td>입력값</td>
		</tr>
	</tbody>
</table>

<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
<table class="tbl tbl-default">
	<caption>견적서상세</caption>
	<colgroup>
		<col style="width: 30vw">
		<col>
	</colgroup>
		<tr>
			<th scope="col">회사명</th>
			<td>Company Name</td>
		</tr>
		<tr>
			<th scope="col">인콰이어리번호</th>
			<td>I0000000</td>
		</tr>
		<tr>
			<th scope="col">발송일</th>
			<td>2023.01.01 10:05</td>
		</tr>
		<tr>
			<th scope="col">열람일</th>
			<td>2023.01.01 10:05</td>
		</tr>
	</tbody>
</table>
</div>

<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
	<table class="tbl tbl-default">
		<caption>바이어정보(배송지 정보)</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="col">회사명</th>
				<td>Company Name</td>
			</tr>
			<tr>
				<th scope="col">이메일</th>
				<td>qweasd@gamil.com</td>
			</tr>
			<tr>
				<th scope="col">담당자명</th>
				<td>Hong Gil Dong</td>
			</tr>
			<tr>
				<th scope="col">휴대폰번호</th>
				<td>+82-212345678</td>
			</tr>
			<tr>
				<th scope="col">전화번호</th>
				<td>+82-212345678</td>
			</tr>
			<tr>
				<th scope="col">팩스번호</th>
				<td>+82-212345678</td>
			</tr>
			<tr>
				<th scope="col">국가</th>
				<td>US(UNITED STATE)</td>
			</tr>
			<tr>
				<th scope="col">주소</th>
				<td>4312 Wood Road New York, NY 10031</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
	<table class="tbl tbl-default">
		<caption>상품정보</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="col">상품명</th>
				<td>지중해 파란꽃게</td>
			</tr>
			<tr>
				<th scope="col">상품상세정보</th>
				<td>냉동되어 있는 상태로 배송 가능</td>
			</tr>
			<tr>
				<th scope="col">수량</th>
				<td>1,000</td>
			</tr>
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>300</td>
			</tr>
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>270</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
	<table class="tbl tbl-default">
		<caption>상품정보</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="col">상품명</th>
				<td>지중해 파란꽃게</td>
			</tr>
			<tr>
				<th scope="col">상품상세정보</th>
				<td>냉동되어 있는 상태로 배송 가능</td>
			</tr>
			<tr>
				<th scope="col">수량</th>
				<td>1,000</td>
			</tr> 
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>300</td>
			</tr>
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>270</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
	<table class="tbl tbl-default">
		<caption>상품정보</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="col">상품명</th>
				<td>지중해 파란꽃게</td>
			</tr>
			<tr>
				<th scope="col">상품상세정보</th>
				<td>냉동되어 있는 상태로 배송 가능</td>
			</tr>
			<tr>
				<th scope="col">수량</th>
				<td>1,000</td>
			</tr> 
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>300</td>
			</tr>
			<tr>
				<th scope="col">상품금액<br>(USD)</th>
				<td>270</td>
			</tr>
			<tr>
				<th scope="col">배송비(USD)</th>
				<td>1,000</td>
			</tr>
			<tr>
				<th scope="col">기타비(USD)</th>
				<td>1,000</td>
			</tr>
			<tr>
				<th scope="col">기타비상세내용</th>
				<td>각종 수수료 비용 및 환율변동에 따른 비용 추가</td>
			</tr>
			<tr>
				<th scope="col">총 견적금액<br>(USD)</th>
				<td>11,270</td>
			</tr>
		</tbody>
	</table>
</div>


<div class="bk-title">
	<strong class="title">타이틀</strong>
</div>
<div class="bk-tbl">
	<table class="tbl tbl-default">
		<caption>상품정보</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<tbody>
			<tr>
				<th scope="col">Tracking number</th>
				<td>575064828576</td>
			</tr>
			<tr>
				<th scope="col">Recipient</th>
				<td>임**</td>
			</tr>
			<tr>
				<th scope="col">Sender</th>
				<td>에**</td>
			</tr>
			<tr>
				<th scope="col">Origin</th>
				<td>South Korea</td>
			</tr>
			<tr>
				<th scope="col">Destiantion</th>
				<td>China</td>
			</tr>
			<tr>
				<th scope="col">Tracke with couries</th>
				<td>Hanjin Express Cainiao CJ Korea Express</td>
			</tr>
			<tr>
				<th scope="col">Delivery Company</th>
				<td>CJ</td>
			</tr>
			<tr>
				<th scope="col">Description</th>
				<td>Audio Cable</td>
			</tr>
			<tr>
				<th scope="col">Quantity</th>
				<td>1</td>
			</tr>
			<tr>
				<th scope="col">Days in transit</th>
				<td>4</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="bk-tbl">
	<table class="tbl tbl-delivery">
		<caption>상품정보</caption>
		<colgroup>
			<col style="width: 30vw">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th scope="row">시간</th>
				<th scope="row">상세내용</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="bk-delivery-time">15 9월 2023<p>14:34</p></div>

				</td>
				<td>
					<div class="bk-delivery-info">
						<p class="bk-delivery-ico">
							<img src="../../images/mobile/temp-cj.png" alt="">
							CJ KOREA EXPRESS
						</p>
						<p>배송완료. 고객님의 상품이 배송완료
						되었습니다.<br>
						(담당사원:박원영 010-4082-6897)<br>
						<span class="bk-txt-gray">서울강서가양중앙</span>
						</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="bk-delivery-time">15 9월 2023<p>14:34</p></div>
				</td>
				<td>
					<div class="bk-delivery-info">
						<p class="bk-delivery-ico">
							<img src="../../images/mobile/temp-cj.png" alt="">
							CJ KOREA EXPRESS
						</p>
						<p>배송완료. 고객님의 상품이 배송완료
						되었습니다.<br>
						(담당사원:박원영 010-4082-6897)<br>
						<span class="bk-txt-gray">서울강서가양중앙</span>
						</p>
					</div>
				</td>
			</tr>
		</tbody>
</body>
</html>